{
  "Entries": [
    {
      "RequestUri": "https://rooms-ppe-us.ppe.communication.azure.net/identities?api-version=2021-10-31-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 13 Jun 2022 15:27:02 GMT"
      },
      "RequestBody": {},
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview, 2021-11-01, 2022-06-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "\u002BTdeAabm\u002BU\u002BHlAd4j2hVSg.0",
        "X-Processing-Time": "25ms"
      },
      "ResponseBody": {
        "identity": {
          "id": "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000011-fd8e-8fad-88f7-084822006569"
        }
      }
    },
    {
      "RequestUri": "https://rooms-ppe-us.ppe.communication.azure.net/identities/8%3Aacs%3Adb75ed0c-e801-41a3-99a4-66a0a119a06c_00000011-fd8e-8fad-88f7-084822006569/:issueAccessToken?api-version=2021-10-31-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 13 Jun 2022 15:27:02 GMT"
      },
      "RequestBody": {
        "scopes": [
          "chat",
          "voip"
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview, 2021-11-01, 2022-06-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "30YJgEdmCUajgl2FVLOgbw.0",
        "X-Processing-Time": "59ms"
      },
      "ResponseBody": {
        "token": "Sanitized",
        "expiresOn": "2022-06-14T15:27:02.912654\u002B00:00"
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://rooms-ppe-us.ppe.communication.azure.net/;accesskey=Kg==",
    "RandomSeed": "1217446055"
  }
}
