{
  "Entries": [
    {
      "RequestUri": "https://rooms-ppe-us.ppe.communication.azure.net/rooms?api-version=2022-02-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "2022-06-13T15:28:31.4636554Z",
        "Repeatability-Request-ID": "304e8941-6859-4311-b737-0006d5bdffc5",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 13 Jun 2022 15:28:31 GMT"
      },
      "RequestBody": {
        "validFrom": "2022-06-13T15:28:31.4634581Z",
        "roomOpen": false
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07, 2022-02-01",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "99451366245832000",
        "MS-CV": "g65cbPgXO06sENeeAJ9tEw.0",
        "Repeatability-Result": "accepted"
      },
      "ResponseBody": {
        "id": "99451366245832000",
        "createdDateTime": "2022-06-13T15:28:31.9422713\u002B00:00",
        "validFrom": "2022-06-13T15:28:31.4634581\u002B00:00",
        "validUntil": "2022-12-10T15:28:31.8920614\u002B00:00",
        "participants": []
      }
    },
    {
      "RequestUri": "https://rooms-ppe-us.ppe.communication.azure.net/rooms/99451366245832000?api-version=2022-02-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 13 Jun 2022 15:28:31 GMT"
      },
      "RequestBody": {
        "validFrom": "2022-06-13T15:28:31.4634581Z",
        "validUntil": "2022-06-14T15:28:31.4634581Z",
        "roomOpen": false
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07, 2022-02-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "43SUUBSx9Um\u002B/QHqIEyr7A.0"
      },
      "ResponseBody": {
        "id": "99451366245832000",
        "createdDateTime": "2022-06-13T15:28:31.9422713\u002B00:00",
        "validFrom": "2022-06-13T15:28:31.4634581\u002B00:00",
        "validUntil": "2022-06-14T15:28:31.4634581\u002B00:00",
        "participants": []
      }
    },
    {
      "RequestUri": "https://rooms-ppe-us.ppe.communication.azure.net/rooms/99451366245832000?api-version=2022-02-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 13 Jun 2022 15:28:32 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07, 2022-02-01",
        "MS-CV": "jMwvKfUPlEm\u002Bbv5ta2H5zA.0"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://rooms-ppe-us.ppe.communication.azure.net/;accesskey=Kg==",
    "RandomSeed": "1552189155"
  }
}
