{
  "Entries": [
    {
      "RequestUri": "https://rooms-ppe-us.ppe.communication.azure.net/rooms?api-version=2022-02-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "2022-06-13T15:28:29.0566944Z",
        "Repeatability-Request-ID": "13f6d1b9-ee8e-42ec-8696-bfcec8f745bb",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 13 Jun 2022 15:28:29 GMT"
      },
      "RequestBody": {
        "validFrom": "2022-06-13T15:28:29.0562715Z",
        "validUntil": "2022-06-14T15:28:29.0562715Z",
        "roomOpen": false
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07, 2022-02-01",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "99475625869178046",
        "MS-CV": "Pi3SIVUNQUKq0AEhlyVRYA.0",
        "Repeatability-Result": "accepted"
      },
      "ResponseBody": {
        "id": "99475625869178046",
        "createdDateTime": "2022-06-13T15:28:29.5653566\u002B00:00",
        "validFrom": "2022-06-13T15:28:29.0562715\u002B00:00",
        "validUntil": "2022-06-14T15:28:29.0562715\u002B00:00",
        "participants": []
      }
    },
    {
      "RequestUri": "https://rooms-ppe-us.ppe.communication.azure.net/rooms/99475625869178046?api-version=2022-02-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 13 Jun 2022 15:28:29 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07, 2022-02-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "0FufnlDi70K1TXmNEiw5Sg.0"
      },
      "ResponseBody": {
        "id": "99475625869178046",
        "createdDateTime": "2022-06-13T15:28:29.5653566\u002B00:00",
        "validFrom": "2022-06-13T15:28:29.0562715\u002B00:00",
        "validUntil": "2022-06-14T15:28:29.0562715\u002B00:00",
        "participants": []
      }
    },
[...]
    {
      "RequestUri": "https://rooms-ppe-us.ppe.communication.azure.net/rooms/99475625869178046?api-version=2022-02-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 13 Jun 2022 15:28:30 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07, 2022-02-01",
        "MS-CV": "sBG/a0LBJU6WItPxMKyEdQ.0"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://rooms-ppe-us.ppe.communication.azure.net/;accesskey=Kg==",
    "RandomSeed": "491143981"
  }
}
