{
  "Entries": [
    {
      "RequestUri": "https://rooms-ppe-us.ppe.communication.azure.net/identities?api-version=2021-03-07",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 29 Jun 2022 23:00:45 GMT"
      },
      "RequestBody": {},
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview, 2021-11-01, 2022-06-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "4Jlt7DG8EESDoe/6w/k1og.0",
        "X-Processing-Time": "38ms"
      },
      "ResponseBody": {
        "identity": {
          "id": "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000012-5193-b789-07fd-084822004b88"
        }
      }
    },
[...]
    {
      "RequestUri": "https://rooms-ppe-us.ppe.communication.azure.net/rooms?api-version=2022-02-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "2022-06-29T23:00:45.7618158Z",
        "Repeatability-Request-ID": "8a2e52df-59fb-4614-8312-3be683be5568",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 29 Jun 2022 23:00:45 GMT"
      },
      "RequestBody": {
        "validFrom": "Sanitized",
        "validUntil": "Sanitized",
        "roomJoinPolicy": "InviteOnly",
        "participants": [
          {
            "communicationIdentifier": {
              "communicationUser": {
                "id": "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000012-5193-b789-07fd-084822004b88"
              }
            },
            "role": "Presenter"
          },
          {
            "communicationIdentifier": {
              "communicationUser": {
                "id": "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000012-5193-b7f4-07fd-084822004b89"
              }
            }
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07, 2022-02-01",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "99427399006863764",
        "MS-CV": "k6b5aF1Qs0ujnCZxJ9cYFQ.0",
        "Repeatability-Result": "accepted"
      },
      "ResponseBody": {
        "id": "99427399006863764",
        "createdDateTime": "2022-06-29T23:00:46.9776753\u002B00:00",
        "validFrom": "2022-12-01T00:00:00\u002B00:00",
        "validUntil": "2022-12-04T00:00:00\u002B00:00",
        "roomJoinPolicy": "InviteOnly",
        "participants": [
          {
            "communicationIdentifier": {
              "rawId": "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000012-5193-b789-07fd-084822004b88",
              "communicationUser": {
                "id": "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000012-5193-b789-07fd-084822004b88"
              }
            },
            "role": "Presenter"
          },
          {
            "communicationIdentifier": {
              "rawId": "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000012-5193-b7f4-07fd-084822004b89",
              "communicationUser": {
                "id": "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000012-5193-b7f4-07fd-084822004b89"
              }
            },
            "role": "Attendee"
          }
        ]
      }
    },
    {
      "RequestUri": "https://rooms-ppe-us.ppe.communication.azure.net/rooms/99427399006863764?api-version=2022-02-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 29 Jun 2022 23:00:46 GMT"
      },
      "RequestBody": {
        "validFrom": "Sanitized",
        "validUntil": "Sanitized",
        "roomJoinPolicy": "Communicat[...]
[...]
    {
      "RequestUri": "https://rooms-ppe-us.ppe.communication.azure.net/rooms/99427399006863764?api-version=2022-02-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 29 Jun 2022 23:00:46 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07, 2022-02-01",
        "MS-CV": "Igu5iA8lF0aJNyNjhwgLaA.0"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://rooms-ppe-us.ppe.communication.azure.net/;accesskey=Kg==",
    "RandomSeed": "1171350143"
  }
}
