{
  "Entries": [
    {
      "RequestUri": "https://rooms-ppe-us.ppe.communication.azure.net/rooms?api-version=2022-02-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "2022-07-17T23:54:32.3738828Z",
        "Repeatability-Request-ID": "0751ff39-95bf-4024-8ea4-a4113eb912d7",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Sun, 17 Jul 2022 23:54:32 GMT"
      },
      "RequestBody": {
        "validFrom": "Sanitized"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07, 2022-02-01",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "99446487724669043",
        "MS-CV": "EKBcC2Tgt0eS0d8uIpmuoA.0",
        "Repeatability-Result": "accepted"
      },
      "ResponseBody": {
        "id": "99446487724669043",
        "createdDateTime": "2022-07-17T23:54:31.6221965\u002B00:00",
        "validFrom": "2022-07-17T23:54:32.3736082\u002B00:00",
        "validUntil": "2023-01-13T23:54:31.5545663\u002B00:00",
        "roomJoinPolicy": "InviteOnly",
        "participants": []
      }
    },
    {
      "RequestUri": "https://rooms-ppe-us.ppe.communication.azure.net/rooms/99446487724669043?api-version=2022-02-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Sun, 17 Jul 2022 23:54:32 GMT"
      },
      "RequestBody": {
        "validFrom": "Sanitized",
        "validUntil": "Sanitized"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07, 2022-02-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "3wBXu/vt3kujALqg2tKCzg.0"
      },
      "ResponseBody": {
        "id": "99446487724669043",
        "createdDateTime": "2022-07-17T23:54:31.6221965\u002B00:00",
        "validFrom": "2022-07-17T23:54:32.3736082\u002B00:00",
        "validUntil": "2022-07-18T23:54:32.3736082\u002B00:00",
        "roomJoinPolicy": "InviteOnly",
        "participants": []
      }
    },
    {
      "RequestUri": "https://rooms-ppe-us.ppe.communication.azure.net/rooms/99446487724669043?api-version=2022-02-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Sun, 17 Jul 2022 23:54:32 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07, 2022-02-01",
        "MS-CV": "9QzCyaAC3UuFxlYl6udHgA.0"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://rooms-ppe-us.ppe.communication.azure.net/;accesskey=Kg==",
    "RandomSeed": "707685673"
  }
}
