{
  "Entries": [
    {
      "RequestUri": "https://rooms-ppe-us.ppe.communication.azure.net/rooms?api-version=2022-02-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "2022-06-03T10:34:25.5867987Z",
        "Repeatability-Request-ID": "7e6dec55-2c36-4cfc-9749-8b9dd358a788",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 03 Jun 2022 10:34:25 GMT"
      },
      "RequestBody": {
        "validFrom": "2022-06-03T10:34:25.5863484Z",
        "validUntil": "2022-06-04T10:34:25.5863484Z"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07, 2022-02-01",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "99465970578374782",
        "MS-CV": "0ismXtwMxkqdIToEpitWgw.0",
        "Repeatability-Result": "accepted"
      },
      "ResponseBody": {
        "id": "99465970578374782",
        "createdDateTime": "2022-06-03T10:34:26.8973654\u002B00:00",
        "validFrom": "2022-06-03T10:34:25.5863484\u002B00:00",
        "validUntil": "2022-06-04T10:34:25.5863484\u002B00:00",
        "participants": []
      }
    },
    {
      "RequestUri": "https://rooms-ppe-us.ppe.communication.azure.net/rooms/99465970578374782?api-version=2022-02-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 03 Jun 2022 10:34:26 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07, 2022-02-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "oeLBP6rpFEe4yChJk5d5RA.0"
      },
      "ResponseBody": {
        "id": "99465970578374782",
        "createdDateTime": "2022-06-03T10:34:26.8973654\u002B00:00",
        "validFrom": "2022-06-03T10:34:25.5863484\u002B00:00",
        "validUntil": "2022-06-04T10:34:25.5863484\u002B00:00",
        "participants": []
      }
    },
[...]
    {
      "RequestUri": "https://rooms-ppe-us.ppe.communication.azure.net/rooms/99465970578374782?api-version=2022-02-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 03 Jun 2022 10:34:27 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07, 2022-02-01",
        "MS-CV": "sqhihAolxUO1suUaVpWHRQ.0"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://rooms-ppe-us.ppe.communication.azure.net/;accesskey=Kg==",
    "RandomSeed": "1379064905"
  }
}
