{
  "Entries": [
    {
      "RequestUri": "https://rooms-ppe-us.ppe.communication.azure.net/rooms?api-version=2022-02-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "2022-06-13T15:28:15.3095483Z",
        "Repeatability-Request-ID": "9bb624b2-05ec-4608-9d7e-06e761655718",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 13 Jun 2022 15:28:15 GMT"
      },
      "RequestBody": {
        "validFrom": "2022-06-13T15:28:15.3090955Z",
        "validUntil": "2022-06-14T15:28:15.3090955Z",
        "roomOpen": false
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07, 2022-02-01",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "99432610276959648",
        "MS-CV": "GO0fr73VaEyl\u002BXsYc1Tbog.0",
        "Repeatability-Result": "accepted"
      },
      "ResponseBody": {
        "id": "99432610276959648",
        "createdDateTime": "2022-06-13T15:28:15.7965223\u002B00:00",
        "validFrom": "2022-06-13T15:28:15.3090955\u002B00:00",
        "validUntil": "2022-06-14T15:28:15.3090955\u002B00:00",
        "participants": []
      }
    },
    {
      "RequestUri": "https://rooms-ppe-us.ppe.communication.azure.net/rooms/99432610276959648?api-version=2022-02-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 13 Jun 2022 15:28:15 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07, 2022-02-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "OGblnkzuWkmWgwoZo5wwng.0"
      },
      "ResponseBody": {
        "id": "99432610276959648",
        "createdDateTime": "2022-06-13T15:28:15.7965223\u002B00:00",
        "validFrom": "2022-06-13T15:28:15.3090955\u002B00:00",
        "validUntil": "2022-06-14T15:28:15.3090955\u002B00:00",
        "participants": []
      }
    },
[...]
    {
      "RequestUri": "https://rooms-ppe-us.ppe.communication.azure.net/rooms/99432610276959648?api-version=2022-02-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 13 Jun 2022 15:28:17 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07, 2022-02-01",
        "MS-CV": "U0D2tgdDP0Ol4lGO\u002B3mxQA.0"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://rooms-ppe-us.ppe.communication.azure.net/;accesskey=Kg==",
    "RandomSeed": "1521217730"
  }
}
