{
  "Entries": [
    {
      "RequestUri": "https://rooms-ppe-us.ppe.communication.azure.net/rooms?api-version=2022-02-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "2022-06-13T15:28:17.5931933Z",
        "Repeatability-Request-ID": "86d9e8f7-8e1e-4d4c-81eb-1bfd9aacdce3",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 13 Jun 2022 15:28:17 GMT"
      },
      "RequestBody": {
        "validFrom": "2022-06-13T15:28:17.5928303Z",
        "roomOpen": false
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07, 2022-02-01",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "99468333239825604",
        "MS-CV": "Mkqm641V4k6lH1KI8HxQGw.0",
        "Repeatability-Result": "accepted"
      },
      "ResponseBody": {
        "id": "99468333239825604",
        "createdDateTime": "2022-06-13T15:28:18.0783254\u002B00:00",
        "validFrom": "2022-06-13T15:28:17.5928303\u002B00:00",
        "validUntil": "2022-12-10T15:28:18.0176365\u002B00:00",
        "participants": []
      }
    },
    {
      "RequestUri": "https://rooms-ppe-us.ppe.communication.azure.net/rooms/99468333239825604?api-version=2022-02-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 13 Jun 2022 15:28:18 GMT"
      },
      "RequestBody": {
        "validFrom": "2022-06-13T15:28:17.5928303Z",
        "validUntil": "2022-06-14T15:28:17.5928303Z",
        "roomOpen": false
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07, 2022-02-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "nAfuQimCmkmFHgkkkRI5Ug.0"
      },
      "ResponseBody": {
        "id": "99468333239825604",
        "createdDateTime": "2022-06-13T15:28:18.0783254\u002B00:00",
        "validFrom": "2022-06-13T15:28:17.5928303\u002B00:00",
        "validUntil": "2022-06-14T15:28:17.5928303\u002B00:00",
        "participants": []
      }
    },
    {
      "RequestUri": "https://rooms-ppe-us.ppe.communication.azure.net/rooms/99468333239825604?api-version=2022-02-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 13 Jun 2022 15:28:18 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07, 2022-02-01",
        "MS-CV": "wKHjIl19c061/393FBDShw.0"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://rooms-ppe-us.ppe.communication.azure.net/;accesskey=Kg==",
    "RandomSeed": "1958350198"
  }
}
