{
  "Entries": [
    {
      "RequestUri": "https://rooms-ppe-us.ppe.communication.azure.net/identities?api-version=2021-03-07",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 28 Jun 2022 23:44:29 GMT"
      },
      "RequestBody": {},
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview, 2021-11-01, 2022-06-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "7u/n6MCwa0KMlCxd9iP3IA.0",
        "X-Processing-Time": "28ms"
      },
      "ResponseBody": {
        "identity": {
          "id": "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000012-4c95-64e8-88f7-0848220034c1"
        }
      }
    },
[...]
    {
      "RequestUri": "https://rooms-ppe-us.ppe.communication.azure.net/rooms?api-version=2022-02-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "2022-06-28T23:44:29.9629973Z",
        "Repeatability-Request-ID": "76561f8f-b0e6-4ba5-b413-bce633321715",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 28 Jun 2022 23:44:29 GMT"
      },
      "RequestBody": {
        "validFrom": "2022-12-01T00:00:00.0000000Z",
        "validUntil": "2022-12-02T00:00:00.0000000Z",
        "roomJoinPolicy": "InviteOnly",
        "participants": [
          {
            "communicationIdentifier": {
              "communicationUser": {
                "id": "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000012-4c95-64e8-88f7-0848220034c1"
              }
            },
            "role": "Presenter"
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07, 2022-02-01",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "99472045225493623",
        "MS-CV": "K7\u002BUJRZ7IUaxBlZDX9o5CQ.0",
        "Repeatability-Result": "accepted"
      },
      "ResponseBody": {
        "id": "99472045225493623",
        "createdDateTime": "2022-06-28T23:44:30.7241027\u002B00:00",
        "validFrom": "2022-12-01T00:00:00\u002B00:00",
        "validUntil": "2022-12-02T00:00:00\u002B00:00",
        "roomJoinPolicy": "InviteOnly",
        "participants": [
          {
            "communicationIdentifier": {
              "rawId": "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000012-4c95-64e8-88f7-0848220034c1",
              "communicationUser": {
                "id": "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000012-4c95-64e8-88f7-0848220034c1"
              }
            },
            "role": "Presenter"
          }
        ]
      }
    },
    {
      "RequestUri": "https://rooms-ppe-us.ppe.communication.azure.net/rooms/99472045225493623/participants:add?api-version=2022-02-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 28 Jun 2022 23:44:30 GMT"
      },
      "RequestBody": {
        "participants": [
          {
            "communicationIdentifier": {
           [...]
    {
      "RequestUri": "https://rooms-ppe-us.ppe.communication.azure.net/rooms/99472045225493623/participants:remove?api-version=2022-02-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 28 Jun 2022 23:44:30 GMT"
      },
      "RequestBody": {
        "participants": [
          {
            "communicationIdentifier": {
        [...]
    {
      "RequestUri": "https://rooms-ppe-us.ppe.communication.azure.net/rooms/99472045225493623?api-version=2022-02-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 28 Jun 2022 23:44:30 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07, 2022-02-01",
        "MS-CV": "w6b2U\u002BzFiU\u002BJ6zJIEAwYJg.0"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://rooms-ppe-us.ppe.communication.azure.net/;accesskey=Kg==",
    "RandomSeed": "1788191353"
  }
}
