{
  "Entries": [
    {
      "RequestUri": "https://rooms-ppe-us.ppe.communication.azure.net/identities?api-version=2021-03-07",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 29 Jun 2022 22:57:07 GMT"
      },
      "RequestBody": {},
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview, 2021-11-01, 2022-06-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "Gjv8umBrvUuklik19YAQjA.0",
        "X-Processing-Time": "30ms"
      },
      "ResponseBody": {
        "identity": {
          "id": "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000012-5190-638c-83fe-084822004639"
        }
      }
    },
[...]
    {
      "RequestUri": "https://rooms-ppe-us.ppe.communication.azure.net/rooms?api-version=2022-02-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "2022-06-29T22:57:07.6457666Z",
        "Repeatability-Request-ID": "0c56e9f3-4064-4a64-a02f-56d484d85b13",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 29 Jun 2022 22:57:07 GMT"
      },
      "RequestBody": {
        "validFrom": "Sanitized",
        "validUntil": "Sanitized",
        "roomJoinPolicy": "InviteOnly",
        "participants": [
          {
            "communicationIdentifier": {
              "communicationUser": {
                "id": "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000012-5190-638c-83fe-084822004639"
              }
            },
            "role": "Presenter"
          },
          {
            "communicationIdentifier": {
              "communicationUser": {
                "id": "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000012-5190-63d6-83fe-08482200463a"
              }
            },
            "role": "Presenter"
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07, 2022-02-01",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "99420651414763486",
        "MS-CV": "z98eVHm3sEK0kCnmydGN1Q.0",
        "Repeatability-Result": "accepted"
      },
      "ResponseBody": {
        "id": "99420651414763486",
        "createdDateTime": "2022-06-29T22:57:08.7534308\u002B00:00",
        "validFrom": "2022-12-01T00:00:00\u002B00:00",
        "validUntil": "2022-12-02T00:00:00\u002B00:00",
        "roomJoinPolicy": "InviteOnly",
        "participants": [
          {
            "communicationIdentifier": {
              "rawId": "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000012-5190-638c-83fe-084822004639",
              "communicationUser": {
                "id": "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000012-5190-638c-83fe-084822004639"
              }
            },
            "role": "Presenter"
          },
          {
            "communicationIdentifier": {
              "rawId": "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000012-5190-63d6-83fe-08482200463a",
              "communicationUser": {
                "id": "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000012-5190-63d6-83fe-08482200463a"
              }
            },
            "role": "Presenter"
          }
        ]
      }
    },
    {
      "RequestUri": "https://rooms-ppe-us.ppe.communication.azure.net/rooms/99420651414763486/participants:update?api-version=2022-02-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 29 Jun 2022 22:57:07 GMT"
      },
      "RequestBody": {
        "participants": [
          {
            "communicationIdentifier": {
        [...]
    {
      "RequestUri": "https://rooms-ppe-us.ppe.communication.azure.net/rooms/99420651414763486/participants?api-version=2022-02-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 29 Jun 2022 22:57:08 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2022-02-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "OA9UkRDSaU6E/2BaBywSzg.0"
      },
      "ResponseBody": {
        "participants": [
          {
            "communicationIdentifier": {
              "rawId": "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000012-5190-638c-83fe-084822004639",
              "communicationUser": {
                "id": "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000012-5190-638c-83fe-084822004639"
              }
            },
            "role": "Consumer"
          },
          {
            "communicationIdentifier": {
              "rawId": "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000012-5190-63d6-83fe-08482200463a",
              "communicationUser": {
                "id": "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000012-5190-63d6-83fe-08482200463a"
              }
            },
            "role": "Attendee"
          }
        ]
      }
    },
    {
      "RequestUri": "https://rooms-ppe-us.ppe.communication.azure.net/rooms/99420651414763486?api-version=2022-02-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 29 Jun 2022 22:57:08 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07, 2022-02-01",
        "MS-CV": "XDlkXN3I/kufLXLB3\u002BBKHw.0"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://rooms-ppe-us.ppe.communication.azure.net/;accesskey=Kg==",
    "RandomSeed": "513267981"
  }
}
