{
  "Entries": [
    {
      "RequestUri": "https://rooms-ppe-us.ppe.communication.azure.net/networkTraversal/:issueRelayConfiguration?api-version=2022-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 13 Jun 2022 15:27:51 GMT"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-02-22-preview1, 2021-06-21-preview, 2021-10-08-preview, 2022-03-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "VIVm7\u002BrpAkKZd4xuFXBxpQ.0",
        "X-Processing-Time": "38ms"
      },
      "ResponseBody": {
        "iceServers": [
          {
            "routeType": "any",
            "urls": [
              "stun:turn.azure.com:3478",
              "turn:turn.azure.com:3478"
            ],
            "username": "BQAANnnyYSgB2IDMSLrXa1RpuawU9\u002Brg006jNOmqhx4AAAAMARDbde0M6AFBo5mkZqChGaBsYgjGC3BV89JIM4n7l3v0tkv89Y4=",
            "credential": "Sanitized"
          },
          {
            "routeType": "nearest",
            "urls": [
              "stun:20.202.255.225:3478",
              "turn:20.202.255.225:3478"
            ],
            "username": "BQAANnnyYSgB2IDMSLrXa1RpuawU9\u002Brg006jNOmqhx4AAAAMARDbde0M6AFBo5mkZqChGaBsYgjGC3BV89JIM4n7l3v0tkv89Y4=",
            "credential": "Sanitized"
          }
        ],
        "expiresOn": "2022-06-15T15:27:51.5145491\u002B00:00"
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://rooms-ppe-us.ppe.communication.azure.net/;accesskey=Kg==",
    "RandomSeed": "205670841"
  }
}
