{
  "Entries": [
    {
      "RequestUri": "https://rooms-ppe-us.ppe.communication.azure.net/identities?api-version=2021-03-07",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 13 Jun 2022 15:25:46 GMT"
      },
      "RequestBody": {},
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview, 2021-11-01, 2022-06-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "xXvx7Cdww0K/QD6ibjOBSg.0",
        "X-Processing-Time": "35ms"
      },
      "ResponseBody": {
        "identity": {
          "id": "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000011-fd8d-69d7-e1fe-0848220063cc"
        }
      }
    },
    {
      "RequestUri": "https://rooms-ppe-us.ppe.communication.azure.net/identities/8%3Aacs%3Adb75ed0c-e801-41a3-99a4-66a0a119a06c_00000011-fd8d-69d7-e1fe-0848220063cc/:issueAccessToken?api-version=2021-03-07",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 13 Jun 2022 15:25:47 GMT"
      },
      "RequestBody": {
        "scopes": [
          "chat"
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview, 2021-11-01, 2022-06-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "on7pD1T4vkSShFjwIuVAlw.0",
        "X-Processing-Time": "43ms"
      },
      "ResponseBody": {
        "token": "Sanitized",
        "expiresOn": "2022-06-14T15:25:47.9547037\u002B00:00"
      }
    },
[...]
    {
      "RequestUri": "https://rooms-ppe-us.ppe.communication.azure.net/chat/threads?api-version=2021-09-07",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "repeatability-request-id": "contoso-C0A747F1-6245-4307-8267-B974340677DC"
      },
      "RequestBody": {
        "topic": "Thread async from C# sdk",
        "participants": [
          {
            "communicationIdentifier": {
              "communicationUser": {
                "id": "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000011-fd8d-69d7-e1fe-0848220063cc"
              }
            },
            "displayName": "user1"
          },
          {
            "communicationIdentifier": {
              "communicationUser": {
                "id": "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000011-fd8d-6dc1-e1fe-0848220063cd"
              }
            },
            "displayName": "user2"
          },
          {
            "communicationIdentifier": {
              "communicationUser": {
                "id": "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000011-fd8d-7116-e1fe-0848220063ce"
              }
            },
            "displayName": "user3"
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2021-04-05-preview6, 2021-09-07, 2021-10-01-preview7",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://rooms-ppe-us.ppe.communication.azure.net/chat/threads/19%3ABw7XtIT3V5KtuESgG1h5Ag8taxRUN6WO7OixifwB-lY1@thread.v2",
        "MS-CV": "QV0Ut3l6sE6BQDPUuPQMvQ.0",
        "X-Processing-Time": "695ms"
      },
      "ResponseBody": {
        "chatThread": {
          "id": "19:Bw7XtIT3V5KtuESgG1h5Ag8taxRUN6WO7OixifwB-lY1@thread.v2",
          "topic": "Thread async from C# sdk",
          "createdOn": "2022-06-13T15:25:51Z",
          "createdByCommunicationIdentifier": {
            "rawId": "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000011-fd8d-69d7-e1fe-0848220063cc",
            "communicationUser": {
              "id": "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000011-fd8d-69d7-e1fe-0848220063cc"
            }
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://rooms-ppe-us.ppe.communication.azure.net/chat/threads/19%3ABw7XtIT3V5KtuESgG1h5Ag8taxRUN6WO7OixifwB-lY1%40thread.v2/participants?api-version=2021-09-07",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2021-04-05-preview6, 2021-09-07, 2021-10-01-preview7",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "hlmAwIP85kGmlddhF6DYaA.0",
        "X-Processing-Time": "98ms"
      },
      "ResponseBody": {
        "value": [
          {
            "communicationIdentifier": {
              "rawId": "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000011-fd8d-69d7-e1fe-0848220063cc",
              "communicationUser": {
                "id": "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000011-fd8d-69d7-e1fe-0848220063cc"
              }
            },
            "displayName": "user1",
            "shareHistoryTime": "1970-01-01T00:00:00Z"
          },
          {
            "communicationIdentifier": {
              "rawId": "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000011-fd8d-6dc1-e1fe-0848220063cd",
              "communicationUser": {
                "id": "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000011-fd8d-6dc1-e1fe-0848220063cd"
              }
            },
            "displayName": "user2",
            "shareHistoryTime": "1970-01-01T00:00:00Z"
          },
          {
            "communicationIdentifier": {
              "rawId": "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000011-fd8d-7116-e1fe-0848220063ce",
              "communicationUser": {
                "id": "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000011-fd8d-7116-e1fe-0848220063ce"
              }
            },
            "displayName": "user3",
            "shareHistoryTime": "1970-01-01T00:00:00Z"
          }
        ]
      }
    },
    {
      "RequestUri": "https://rooms-ppe-us.ppe.communication.azure.net/chat/threads/19%3ABw7XtIT3V5KtuESgG1h5Ag8taxRUN6WO7OixifwB-lY1%40thread.v2?api-version=2021-09-07",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson"
      },
      "RequestBody": {
        "topic": "Updated topic - C# sdk"
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2021-04-05-preview6, 2021-09-07, 2021-10-01-preview7",
        "MS-CV": "BhKkkqLvr0uJpXO4BFYJ\u002Bw.0",
        "X-Processing-Time": "471ms"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://rooms-ppe-us.ppe.communication.azure.net/chat/threads/19%3ABw7XtIT3V5KtuESgG1h5Ag8taxRUN6WO7OixifwB-lY1%40thread.v2/messages?api-version=2021-09-07",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "content": "Content for message 1",
        "senderDisplayName": "DisplayName sender message 1",
        "type": "text"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2021-04-05-preview6, 2021-09-07, 2021-10-01-preview7",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://rooms-ppe-us.ppe.communication.azure.net/chat/threads/19%3ABw7XtIT3V5KtuESgG1h5Ag8taxRUN6WO7OixifwB-lY1@thread.v2/messages/1655133955894",
        "MS-CV": "dd2CyIMy8UaSG84B3AfUBg.0",
        "X-Processing-Time": "173ms"
      },
      "ResponseBody": {
        "id": "1655133955894"
      }
    },
    {
      "RequestUri": "https://rooms-ppe-us.ppe.communication.azure.net/chat/threads/19%3AI8WtygXtoxidB5qQiZVE5lkhU1nxzya1uM7I2tttChk1%40thread.v2/messages?api-version=2021-09-07",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "content": "Content for message 2",
        "senderDisplayName": "DisplayName sender message 1",
        "type": "html"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2021-04-05-preview6, 2021-09-07, 2021-10-01-preview7",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://rooms-ppe-us.ppe.communication.azure.net/chat/threads/19%3AI8WtygXtoxidB5qQiZVE5lkhU1nxzya1uM7I2tttChk1@thread.v2/messages/1655133956413",
        "MS-CV": "JX4vCTvtqUKTNP1Ul4gKqw.0",
        "X-Processing-Time": "230ms"
      },
      "ResponseBody": {
        "id": "1655133956413"
      }
    },
[...]
    {
      "RequestUri": "https://rooms-ppe-us.ppe.communication.azure.net/chat/threads/19%3ABw7XtIT3V5KtuESgG1h5Ag8taxRUN6WO7OixifwB-lY1%40thread.v2/messages?api-version=2021-09-07",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "content": "Content for message 7",
        "senderDisplayName": "DisplayName sender message options message 7",
        "type": "html",
        "metadata": {
          "tags": "tag value",
          "deliveryMode": "deliveryMode value",
          "onedriveReferences": "onedriveReferences value",
          "amsreferences": "[\u0022test url file 1\u0022,\u0022test url file2\u0022]",
          "key": "value key"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2021-04-05-preview6, 2021-09-07, 2021-10-01-preview7",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://rooms-ppe-us.ppe.communication.azure.net/chat/threads/19%3ABw7XtIT3V5KtuESgG1h5Ag8taxRUN6WO7OixifwB-lY1@thread.v2/messages/1655133961268",
        "MS-CV": "9SJUbsVdq0GdPWAqLJx/Ug.0",
        "X-Processing-Time": "138ms"
      },
      "ResponseBody": {
        "id": "1655133961268"
      }
    },
    {
      "RequestUri": "https://rooms-ppe-us.ppe.communication.azure.net/chat/threads/19%3ABw7XtIT3V5KtuESgG1h5Ag8taxRUN6WO7OixifwB-lY1%40thread.v2/messages/1655133955894?api-version=2021-09-07",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2021-04-05-preview6, 2021-09-07, 2021-10-01-preview7",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "QK9XoZB0tkGNGTyH7UXDFA.0",
        "X-Processing-Time": "118ms"
      },
      "ResponseBody": {
        "id": "1655133955894",
        "type": "text",
        "sequenceId": "4",
        "version": "1655133955894",
        "content": {
          "message": "Content for message 1"
        },
        "senderDisplayName": "DisplayName sender message 1",
        "createdOn": "2022-06-13T15:25:55Z",
        "senderCommunicationIdentifier": {
          "rawId": "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000011-fd8d-69d7-e1fe-0848220063cc",
          "communicationUser": {
            "id": "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000011-fd8d-69d7-e1fe-0848220063cc"
          }
        }
      }
    },
    {
      "RequestUri": "https://rooms-ppe-us.ppe.communication.azure.net/chat/threads/19%3AI8WtygXtoxidB5qQiZVE5lkhU1nxzya1uM7I2tttChk1%40thread.v2/messages/1655133956413?api-version=2021-09-07",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2021-04-05-preview6, 2021-09-07, 2021-10-01-preview7",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "D5yCaBVrwUKROvsJqdyvQQ.0",
        "X-Processing-Time": "111ms"
      },
      "ResponseBody": {
        "id": "1655133956413",
        "type": "html",
        "sequenceId": "3",
        "version": "1655133956413",
        "content": {
          "message": "Content for message 2"
        },
        "senderDisplayName": "DisplayName sender message 1",
        "createdOn": "2022-06-13T15:25:56Z",
        "senderCommunicationIdentifier": {
          "rawId": "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000011-fd8d-69d7-e1fe-0848220063cc",
          "communicationUser": {
            "id": "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000011-fd8d-69d7-e1fe-0848220063cc"
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://rooms-ppe-us.ppe.communication.azure.net/chat/threads/19%3ABw7XtIT3V5KtuESgG1h5Ag8taxRUN6WO7OixifwB-lY1%40thread.v2/messages?maxPageSize=2\u0026api-version=2021-09-07",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2021-04-05-preview6, 2021-09-07, 2021-10-01-preview7",
        "Cont[...]
    {
      "RequestUri": "https://rooms-ppe-us.ppe.communication.azure.net/chat/threads/19:Bw7XtIT3V5KtuESgG1h5Ag8taxRUN6WO7OixifwB-lY1@thread.v2/messages?syncState=3e3900000031393a427737587449543356354b74754553674731683541673874617852554e36574f374f6978696677422d6c5931407468726561642e763201a7f8ab5d8101000034fcab5d81010000\u0026startTime=1%2F1%2F1970%2012%3A00%3A00%20AM%20%2B00%3A00\u0026maxPageSize=2\u0026api-version=2021-09-07",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "[...]
[...]
    {
      "RequestUri": "https://rooms-ppe-us.ppe.communication.azure.net/chat/threads/19:Bw7XtIT3V5KtuESgG1h5Ag8taxRUN6WO7OixifwB-lY1@thread.v2/messages?syncState=3e3900000031393a427737587449543356354b74754553674731683541673874617852554e36574f374f6978696677422d6c5931407468726561642e76320136e7ab5d8101000034fcab5d81010000\u0026startTime=1%2F1%2F1970%2012%3A00%3A00%20AM%20%2B00%3A00\u0026maxPageSize=2\u0026api-version=2021-09-07",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2021-04-05-preview6, 2021-09-07, 2021-10-01-preview7",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "4cyVb/jApU6W0xeZ/mY1hA.0",
        "X-Processing-Time": "181ms"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "1655133954764",
            "type": "topicUpdated",
            "sequenceId": "3",
            "version": "1655133954764",
            "content": {
              "topic": "Updated topic - C# sdk",
              "initiatorCommunicationIdentifier": {
                "rawId": "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000011-fd8d-69d7-e1fe-0848220063cc",
                "communicationUser": {
                  "id": "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000011-fd8d-69d7-e1fe-0848220063cc"
                }
              }
            },
            "createdOn": "2022-06-13T15:25:54Z"
          },
          {
            "id": "1655133951950",
            "type": "topicUpdated",
            "sequenceId": "2",
            "version": "1655133951950",
            "content": {
              "topic": "Thread async from C# sdk",
              "initiatorCommunicationIdentifier": {
                "rawId": "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000011-fd8d-69d7-e1fe-0848220063cc",
                "communicationUser": {
                  "id": "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000011-fd8d-69d7-e1fe-0848220063cc"
                }
              }
            },
            "createdOn": "2022-06-13T15:25:51Z"
          }
        ],
        "nextLink": "https://rooms-ppe-us.ppe.communication.azure.net/chat/threads/19:Bw7XtIT3V5KtuESgG1h5Ag8taxRUN6WO7OixifwB-lY1@thread.v2/messages?syncState=3e3900000031393a427737587449543356354b74754553674731683541673874617852554e36574f374f6978696677422d6c5931407468726561642e763201ced7ab5d8101000034fcab5d81010000\u0026startTime=1%2F1%2F1970%2012%3A00%3A00%20AM%20%2B00%3A00\u0026maxPageSize=2\u0026api-version=2021-09-07"
      }
    },
[...]
    {
      "RequestUri": "https://rooms-ppe-us.ppe.communication.azure.net/chat/threads/19%3ABw7XtIT3V5KtuESgG1h5Ag8taxRUN6WO7OixifwB-lY1%40thread.v2/messages/1655133955894?api-version=2021-09-07",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2021-04-05-preview6, 2021-09-07, 2021-10-01-preview7",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "GmUk8CMFQk2gAq8hXm8MPA.0",
        "X-Processing-Time": "111ms"
      },
      "ResponseBody": {
        "id": "1655133955894",
        "type": "text",
        "sequenceId": "10",
        "version": "1655133968244",
        "content": {
          "message": "This is message 1 content updated"
        },
        "senderDisplayName": "DisplayName sender message 1",
        "createdOn": "2022-06-13T15:25:55Z",
        "senderCommunicationIdentifier": {
          "rawId": "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000011-fd8d-69d7-e1fe-0848220063cc",
          "communicationUser": {
            "id": "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000011-fd8d-69d7-e1fe-0848220063cc"
          }
        },
        "editedOn": "2022-06-13T15:26:08Z"
      }
    },
[...]
    {
      "RequestUri": "https://rooms-ppe-us.ppe.communication.azure.net/chat/threads/19%3ABw7XtIT3V5KtuESgG1h5Ag8taxRUN6WO7OixifwB-lY1%40thread.v2/participants/:add?api-version=2021-09-07",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "participants": [
          {
            "communicationIdentifier": {
              "communicationUser": {
                "id": "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000011-fd8d-73c3-e1fe-0848220063cf"
              }
            },
            "displayName": "user4"
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2021-04-05-preview6, 2021-09-07, 2021-10-01-preview7",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "4KrYOlKbKEGJyegPSe2Qyg.0",
        "X-Processing-Time": "211ms"
      },
      "ResponseBody": {}
    },
[...]
    {
      "RequestUri": "https://rooms-ppe-us.ppe.communication.azure.net/chat/threads/19%3ABw7XtIT3V5KtuESgG1h5Ag8taxRUN6WO7OixifwB-lY1%40thread.v2/participants?maxPageSize=2\u0026api-version=2021-09-07",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2021-04-05-preview6, 2021-09-07, 2021-10-01-preview7",
        "[...]
    {
      "RequestUri": "https://rooms-ppe-us.ppe.communication.azure.net/chat/threads/19:Bw7XtIT3V5KtuESgG1h5Ag8taxRUN6WO7OixifwB-lY1@thread.v2/participants?skip=2\u0026maxPageSize=2\u0026api-version=2021-09-07",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2021-04-05-preview6, 2021-09-07, 2021-10-01-preview7",
 [...]
[...]
    {
      "RequestUri": "https://rooms-ppe-us.ppe.communication.azure.net/chat/threads/19%3ABw7XtIT3V5KtuESgG1h5Ag8taxRUN6WO7OixifwB-lY1%40thread.v2/participants/:remove?api-version=2021-09-07",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "communicationUser": {
          "id": "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000011-fd8d-73c3-e1fe-0848220063cf"
        }
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2021-04-05-preview6, 2021-09-07, 2021-10-01-preview7",
        "MS-CV": "nyHgk6V9mkaysbNHB02gEQ.0",
        "X-Processing-Time": "285ms"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://rooms-ppe-us.ppe.communication.azure.net/chat/threads/19%3ABw7XtIT3V5KtuESgG1h5Ag8taxRUN6WO7OixifwB-lY1%40thread.v2/typing?api-version=2021-09-07",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-05-preview6, 2021-09-07, 2021-10-01-preview7",
        "MS-CV": "gKDb\u002Bcddq0qKjC6wk9dIWw.0",
        "X-Processing-Time": "133ms"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://rooms-ppe-us.ppe.communication.azure.net/chat/threads?api-version=2021-09-07",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2021-04-05-preview6, 2021-09-07, 2021-10-01-preview7",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "60OvkGbA/kyOXmaPH8GCpg.0",
        "X-Processing-Time": "274ms"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "19:Bw7XtIT3V5KtuESgG1h5Ag8taxRUN6WO7OixifwB-lY1@thread.v2",
            "topic": "Updated topic - C# sdk",
            "lastMessageReceivedOn": "2022-06-13T15:26:12Z"
          },
          {
            "id": "19:I8WtygXtoxidB5qQiZVE5lkhU1nxzya1uM7I2tttChk1@thread.v2",
            "topic": "Thread async from C# sdk",
            "lastMessageReceivedOn": "2022-06-13T15:25:56Z"
          }
        ]
      }
    },
    {
      "RequestUri": "https://rooms-ppe-us.ppe.communication.azure.net/chat/threads/19%3ABw7XtIT3V5KtuESgG1h5Ag8taxRUN6WO7OixifwB-lY1%40thread.v2?api-version=2021-09-07",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2021-04-05-preview6, 2021-09-07, 2021-10-01-preview7",
        "MS-CV": "8rTqMBs9Q0qCvQMyptnn9Q.0",
        "X-Processing-Time": "139ms"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://rooms-ppe-us.ppe.communication.azure.net/;accesskey=Kg==",
    "RandomSeed": "1393434549"
  }
}
