{
  "Entries": [
    {
      "RequestUri": "https://rooms-ppe-us.ppe.communication.azure.net/identities?api-version=2021-03-07",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 13 Jun 2022 15:25:09 GMT"
      },
      "RequestBody": {},
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview, 2021-11-01, 2022-06-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "tkgejWjAE06FREB/COI6JA.0",
        "X-Processing-Time": "82ms"
      },
      "ResponseBody": {
        "identity": {
          "id": "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000011-fd8c-dc17-e1fe-0848220063be"
        }
      }
    },
    {
      "RequestUri": "https://rooms-ppe-us.ppe.communication.azure.net/identities/8%3Aacs%3Adb75ed0c-e801-41a3-99a4-66a0a119a06c_00000011-fd8c-dc17-e1fe-0848220063be/:issueAccessToken?api-version=2021-03-07",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 13 Jun 2022 15:25:11 GMT"
      },
      "RequestBody": {
        "scopes": [
          "chat"
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview, 2021-11-01, 2022-06-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "lVYkuZy3AkaI3mwX0yXtZw.0",
        "X-Processing-Time": "52ms"
      },
      "ResponseBody": {
        "token": "Sanitized",
        "expiresOn": "2022-06-14T15:25:11.5402246\u002B00:00"
      }
    },
[...]
    {
      "RequestUri": "https://rooms-ppe-us.ppe.communication.azure.net/chat/threads?api-version=2021-09-07",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "repeatability-request-id": "contoso-C0A747F1-6245-4307-8267-B974340677DC"
      },
      "RequestBody": {
        "topic": "Thread async from C# sdk",
        "participants": [
          {
            "communicationIdentifier": {
              "communicationUser": {
                "id": "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000011-fd8c-dc17-e1fe-0848220063be"
              }
            },
            "displayName": "user1"
          },
          {
            "communicationIdentifier": {
              "communicationUser": {
                "id": "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000011-fd8c-e071-e1fe-0848220063bf"
              }
            },
            "displayName": "user2"
          },
          {
            "communicationIdentifier": {
              "communicationUser": {
                "id": "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000011-fd8c-e38d-e1fe-0848220063c0"
              }
            },
            "displayName": "user3"
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2021-04-05-preview6, 2021-09-07, 2021-10-01-preview7",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://rooms-ppe-us.ppe.communication.azure.net/chat/threads/19%3AfPt3CWzvSKGiyqp6s9ruTl1ZVqeMLKE1vEUThaUG1Xw1@thread.v2",
        "MS-CV": "6yGjto\u002B1HEq09\u002BsPze8C4g.0",
        "X-Processing-Time": "2987ms"
      },
      "ResponseBody": {
        "chatThread": {
          "id": "19:fPt3CWzvSKGiyqp6s9ruTl1ZVqeMLKE1vEUThaUG1Xw1@thread.v2",
          "topic": "Thread async from C# sdk",
          "createdOn": "2022-06-13T15:25:17Z",
          "createdByCommunicationIdentifier": {
            "rawId": "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000011-fd8c-dc17-e1fe-0848220063be",
            "communicationUser": {
              "id": "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000011-fd8c-dc17-e1fe-0848220063be"
            }
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://rooms-ppe-us.ppe.communication.azure.net/chat/threads/19%3AfPt3CWzvSKGiyqp6s9ruTl1ZVqeMLKE1vEUThaUG1Xw1%40thread.v2/participants?api-version=2021-09-07",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2021-04-05-preview6, 2021-09-07, 2021-10-01-preview7",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "RJiMkTnJeE6U2\u002BgcVG\u002BffQ.0",
        "X-Processing-Time": "186ms"
      },
      "ResponseBody": {
        "value": [
          {
            "communicationIdentifier": {
              "rawId": "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000011-fd8c-dc17-e1fe-0848220063be",
              "communicationUser": {
                "id": "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000011-fd8c-dc17-e1fe-0848220063be"
              }
            },
            "displayName": "user1",
            "shareHistoryTime": "1970-01-01T00:00:00Z"
          },
          {
            "communicationIdentifier": {
              "rawId": "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000011-fd8c-e071-e1fe-0848220063bf",
              "communicationUser": {
                "id": "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000011-fd8c-e071-e1fe-0848220063bf"
              }
            },
            "displayName": "user2",
            "shareHistoryTime": "1970-01-01T00:00:00Z"
          },
          {
            "communicationIdentifier": {
              "rawId": "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000011-fd8c-e38d-e1fe-0848220063c0",
              "communicationUser": {
                "id": "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000011-fd8c-e38d-e1fe-0848220063c0"
              }
            },
            "displayName": "user3",
            "shareHistoryTime": "1970-01-01T00:00:00Z"
          }
        ]
      }
    },
    {
      "RequestUri": "https://rooms-ppe-us.ppe.communication.azure.net/chat/threads/19%3AfPt3CWzvSKGiyqp6s9ruTl1ZVqeMLKE1vEUThaUG1Xw1%40thread.v2?api-version=2021-09-07",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson"
      },
      "RequestBody": {
        "topic": "Updated topic - C# sdk"
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2021-04-05-preview6, 2021-09-07, 2021-10-01-preview7",
        "MS-CV": "v8gdsWjJ5EmM9UN3u6PTvA.0",
        "X-Processing-Time": "151ms"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://rooms-ppe-us.ppe.communication.azure.net/chat/threads/19%3AfPt3CWzvSKGiyqp6s9ruTl1ZVqeMLKE1vEUThaUG1Xw1%40thread.v2/messages?api-version=2021-09-07",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "content": "Content for message 1",
        "senderDisplayName": "DisplayName sender message 1",
        "type": "text"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2021-04-05-preview6, 2021-09-07, 2021-10-01-preview7",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://rooms-ppe-us.ppe.communication.azure.net/chat/threads/19%3AfPt3CWzvSKGiyqp6s9ruTl1ZVqeMLKE1vEUThaUG1Xw1@thread.v2/messages/1655133922491",
        "MS-CV": "ldHAvuad2EW/80Upi0RRxg.0",
        "X-Processing-Time": "639ms"
      },
      "ResponseBody": {
        "id": "1655133922491"
      }
    },
    {
      "RequestUri": "https://rooms-ppe-us.ppe.communication.azure.net/chat/threads/19%3A0pYZ0CQXvcn8LlPsYsOXYsyJjPW71vskKijtGKqEVNg1%40thread.v2/messages?api-version=2021-09-07",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "content": "Content for message 2",
        "senderDisplayName": "DisplayName sender message 1",
        "type": "html"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2021-04-05-preview6, 2021-09-07, 2021-10-01-preview7",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://rooms-ppe-us.ppe.communication.azure.net/chat/threads/19%3A0pYZ0CQXvcn8LlPsYsOXYsyJjPW71vskKijtGKqEVNg1@thread.v2/messages/1655133923123",
        "MS-CV": "VXVFy2rhI02pd0\u002BIYQhNRg.0",
        "X-Processing-Time": "243ms"
      },
      "ResponseBody": {
        "id": "1655133923123"
      }
    },
[...]
    {
      "RequestUri": "https://rooms-ppe-us.ppe.communication.azure.net/chat/threads/19%3AfPt3CWzvSKGiyqp6s9ruTl1ZVqeMLKE1vEUThaUG1Xw1%40thread.v2/messages?api-version=2021-09-07",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "content": "Content for message 7",
        "senderDisplayName": "DisplayName sender message options message 7",
        "type": "html",
        "metadata": {
          "tags": "tag value",
          "deliveryMode": "deliveryMode value",
          "onedriveReferences": "onedriveReferences value",
          "amsreferences": "[\u0022test url file 1\u0022,\u0022test url file2\u0022]",
          "key": "value key"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2021-04-05-preview6, 2021-09-07, 2021-10-01-preview7",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://rooms-ppe-us.ppe.communication.azure.net/chat/threads/19%3AfPt3CWzvSKGiyqp6s9ruTl1ZVqeMLKE1vEUThaUG1Xw1@thread.v2/messages/1655133925966",
        "MS-CV": "S7/Fi/WZO0yzlDQbXp/4Ig.0",
        "X-Processing-Time": "176ms"
      },
      "ResponseBody": {
        "id": "1655133925966"
      }
    },
    {
      "RequestUri": "https://rooms-ppe-us.ppe.communication.azure.net/chat/threads/19%3AfPt3CWzvSKGiyqp6s9ruTl1ZVqeMLKE1vEUThaUG1Xw1%40thread.v2/messages/1655133922491?api-version=2021-09-07",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2021-04-05-preview6, 2021-09-07, 2021-10-01-preview7",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "zInyUvlTcU\u002BlK4mjoF72QQ.0",
        "X-Processing-Time": "109ms"
      },
      "ResponseBody": {
        "id": "1655133922491",
        "type": "text",
        "sequenceId": "4",
        "version": "1655133922491",
        "content": {
          "message": "Content for message 1"
        },
        "senderDisplayName": "DisplayName sender message 1",
        "createdOn": "2022-06-13T15:25:22Z",
        "senderCommunicationIdentifier": {
          "rawId": "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000011-fd8c-dc17-e1fe-0848220063be",
          "communicationUser": {
            "id": "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000011-fd8c-dc17-e1fe-0848220063be"
          }
        }
      }
    },
    {
      "RequestUri": "https://rooms-ppe-us.ppe.communication.azure.net/chat/threads/19%3A0pYZ0CQXvcn8LlPsYsOXYsyJjPW71vskKijtGKqEVNg1%40thread.v2/messages/1655133923123?api-version=2021-09-07",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2021-04-05-preview6, 2021-09-07, 2021-10-01-preview7",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "X1\u002BVi3s1W0KuD1g/NW78DA.0",
        "X-Processing-Time": "114ms"
      },
      "ResponseBody": {
        "id": "1655133923123",
        "type": "html",
        "sequenceId": "3",
        "version": "1655133923123",
        "content": {
          "message": "Content for message 2"
        },
        "senderDisplayName": "DisplayName sender message 1",
        "createdOn": "2022-06-13T15:25:23Z",
        "senderCommunicationIdentifier": {
          "rawId": "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000011-fd8c-dc17-e1fe-0848220063be",
          "communicationUser": {
            "id": "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000011-fd8c-dc17-e1fe-0848220063be"
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://rooms-ppe-us.ppe.communication.azure.net/chat/threads/19%3AfPt3CWzvSKGiyqp6s9ruTl1ZVqeMLKE1vEUThaUG1Xw1%40thread.v2/messages?maxPageSize=2\u0026api-version=2021-09-07",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2021-04-05-preview6, 2021-09-07, 2021-10-01-preview7",
        "Cont[...]
    {
      "RequestUri": "https://rooms-ppe-us.ppe.communication.azure.net/chat/threads/19:fPt3CWzvSKGiyqp6s9ruTl1ZVqeMLKE1vEUThaUG1Xw1@thread.v2/messages?syncState=3e3900000031393a6650743343577a76534b47697971703673397275546c315a5671654d4c4b4531764555546861554731587731407468726561642e7632016a70ab5d810100004e72ab5d81010000\u0026startTime=1%2F1%2F1970%2012%3A00%3A00%20AM%20%2B00%3A00\u0026maxPageSize=2\u0026api-version=2021-09-07",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "[...]
[...]
    {
      "RequestUri": "https://rooms-ppe-us.ppe.communication.azure.net/chat/threads/19:fPt3CWzvSKGiyqp6s9ruTl1ZVqeMLKE1vEUThaUG1Xw1@thread.v2/messages?syncState=3e3900000031393a6650743343577a76534b47697971703673397275546c315a5671654d4c4b4531764555546861554731587731407468726561642e763201bb64ab5d810100004e72ab5d81010000\u0026startTime=1%2F1%2F1970%2012%3A00%3A00%20AM%20%2B00%3A00\u0026maxPageSize=2\u0026api-version=2021-09-07",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2021-04-05-preview6, 2021-09-07, 2021-10-01-preview7",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "j2zCBJU8hkKwrSRb5KLXTQ.0",
        "X-Processing-Time": "175ms"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "1655133920907",
            "type": "topicUpdated",
            "sequenceId": "3",
            "version": "1655133920907",
            "content": {
              "topic": "Updated topic - C# sdk",
              "initiatorCommunicationIdentifier": {
                "rawId": "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000011-fd8c-dc17-e1fe-0848220063be",
                "communicationUser": {
                  "id": "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000011-fd8c-dc17-e1fe-0848220063be"
                }
              }
            },
            "createdOn": "2022-06-13T15:25:20Z"
          },
          {
            "id": "1655133918605",
            "type": "topicUpdated",
            "sequenceId": "2",
            "version": "1655133918605",
            "content": {
              "topic": "Thread async from C# sdk",
              "initiatorCommunicationIdentifier": {
                "rawId": "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000011-fd8c-dc17-e1fe-0848220063be",
                "communicationUser": {
                  "id": "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000011-fd8c-dc17-e1fe-0848220063be"
                }
              }
            },
            "createdOn": "2022-06-13T15:25:18Z"
          }
        ],
        "nextLink": "https://rooms-ppe-us.ppe.communication.azure.net/chat/threads/19:fPt3CWzvSKGiyqp6s9ruTl1ZVqeMLKE1vEUThaUG1Xw1@thread.v2/messages?syncState=3e3900000031393a6650743343577a76534b47697971703673397275546c315a5671654d4c4b4531764555546861554731587731407468726561642e7632018d55ab5d810100004e72ab5d81010000\u0026startTime=1%2F1%2F1970%2012%3A00%3A00%20AM%20%2B00%3A00\u0026maxPageSize=2\u0026api-version=2021-09-07"
      }
    },
[...]
    {
      "RequestUri": "https://rooms-ppe-us.ppe.communication.azure.net/chat/threads/19%3AfPt3CWzvSKGiyqp6s9ruTl1ZVqeMLKE1vEUThaUG1Xw1%40thread.v2/messages/1655133922491?api-version=2021-09-07",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2021-04-05-preview6, 2021-09-07, 2021-10-01-preview7",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "EFAhI\u002B4siku8t1SmW2HMgw.0",
        "X-Processing-Time": "111ms"
      },
      "ResponseBody": {
        "id": "1655133922491",
        "type": "text",
        "sequenceId": "10",
        "version": "1655133933379",
        "content": {
          "message": "This is message 1 content updated"
        },
        "senderDisplayName": "DisplayName sender message 1",
        "createdOn": "2022-06-13T15:25:22Z",
        "senderCommunicationIdentifier": {
          "rawId": "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000011-fd8c-dc17-e1fe-0848220063be",
          "communicationUser": {
            "id": "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000011-fd8c-dc17-e1fe-0848220063be"
          }
        },
        "editedOn": "2022-06-13T15:25:33Z"
      }
    },
[...]
    {
      "RequestUri": "https://rooms-ppe-us.ppe.communication.azure.net/chat/threads/19%3AfPt3CWzvSKGiyqp6s9ruTl1ZVqeMLKE1vEUThaUG1Xw1%40thread.v2/participants/:add?api-version=2021-09-07",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "participants": [
          {
            "communicationIdentifier": {
              "communicationUser": {
                "id": "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000011-fd8c-e622-e1fe-0848220063c1"
              }
            },
            "displayName": "user4"
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2021-04-05-preview6, 2021-09-07, 2021-10-01-preview7",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "OucHumb5B0KgL4/Cf464qw.0",
        "X-Processing-Time": "196ms"
      },
      "ResponseBody": {}
    },
[...]
    {
      "RequestUri": "https://rooms-ppe-us.ppe.communication.azure.net/chat/threads/19%3AfPt3CWzvSKGiyqp6s9ruTl1ZVqeMLKE1vEUThaUG1Xw1%40thread.v2/participants?maxPageSize=2\u0026api-version=2021-09-07",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2021-04-05-preview6, 2021-09-07, 2021-10-01-preview7",
        "[...]
    {
      "RequestUri": "https://rooms-ppe-us.ppe.communication.azure.net/chat/threads/19:fPt3CWzvSKGiyqp6s9ruTl1ZVqeMLKE1vEUThaUG1Xw1@thread.v2/participants?skip=2\u0026maxPageSize=2\u0026api-version=2021-09-07",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2021-04-05-preview6, 2021-09-07, 2021-10-01-preview7",
 [...]
[...]
    {
      "RequestUri": "https://rooms-ppe-us.ppe.communication.azure.net/chat/threads/19%3AfPt3CWzvSKGiyqp6s9ruTl1ZVqeMLKE1vEUThaUG1Xw1%40thread.v2/participants/:remove?api-version=2021-09-07",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "communicationUser": {
          "id": "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000011-fd8c-e622-e1fe-0848220063c1"
        }
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2021-04-05-preview6, 2021-09-07, 2021-10-01-preview7",
        "MS-CV": "TpTAP/IiUUGS8BDziXtthA.0",
        "X-Processing-Time": "175ms"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://rooms-ppe-us.ppe.communication.azure.net/chat/threads/19%3AfPt3CWzvSKGiyqp6s9ruTl1ZVqeMLKE1vEUThaUG1Xw1%40thread.v2/typing?api-version=2021-09-07",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-05-preview6, 2021-09-07, 2021-10-01-preview7",
        "MS-CV": "giDlcsbvmEuTTEi85IJC8g.0",
        "X-Processing-Time": "201ms"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://rooms-ppe-us.ppe.communication.azure.net/chat/threads?api-version=2021-09-07",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2021-04-05-preview6, 2021-09-07, 2021-10-01-preview7",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "26iFtBklNkmsW\u002BYcjx8TRA.0",
        "X-Processing-Time": "306ms"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "19:fPt3CWzvSKGiyqp6s9ruTl1ZVqeMLKE1vEUThaUG1Xw1@thread.v2",
            "topic": "Updated topic - C# sdk",
            "lastMessageReceivedOn": "2022-06-13T15:25:38Z"
          },
          {
            "id": "19:0pYZ0CQXvcn8LlPsYsOXYsyJjPW71vskKijtGKqEVNg1@thread.v2",
            "topic": "Thread async from C# sdk",
            "lastMessageReceivedOn": "2022-06-13T15:25:23Z"
          }
        ]
      }
    },
    {
      "RequestUri": "https://rooms-ppe-us.ppe.communication.azure.net/chat/threads/19%3AfPt3CWzvSKGiyqp6s9ruTl1ZVqeMLKE1vEUThaUG1Xw1%40thread.v2?api-version=2021-09-07",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2021-04-05-preview6, 2021-09-07, 2021-10-01-preview7",
        "MS-CV": "RWWpcDW0FkCUGJM7vhcLoA.0",
        "X-Processing-Time": "281ms"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://rooms-ppe-us.ppe.communication.azure.net/;accesskey=Kg==",
    "RandomSeed": "1278138649"
  }
}
