{
  "Entries": [
    {
      "RequestUri": "https://rooms-ppe-us.ppe.communication.azure.net/identities?api-version=2021-03-07",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 28 Jun 2022 23:44:42 GMT"
      },
      "RequestBody": {},
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview, 2021-11-01, 2022-06-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "ImB3un4UZECicmzk2PheRQ.0",
        "X-Processing-Time": "29ms"
      },
      "ResponseBody": {
        "identity": {
          "id": "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000012-4c95-9768-83fe-084822002d99"
        }
      }
    },
[...]
    {
      "RequestUri": "https://rooms-ppe-us.ppe.communication.azure.net/rooms?api-version=2022-02-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "2022-06-28T23:44:42.8105697Z",
        "Repeatability-Request-ID": "64200559-cf7f-4cf0-8f93-5cbd109401da",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 28 Jun 2022 23:44:42 GMT"
      },
      "RequestBody": {
        "validFrom": "2022-12-01T00:00:00.0000000Z",
        "validUntil": "2022-12-02T00:00:00.0000000Z",
        "roomJoinPolicy": "InviteOnly",
        "participants": [
          {
            "communicationIdentifier": {
              "communicationUser": {
                "id": "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000012-4c95-9768-83fe-084822002d99"
              }
            },
            "role": "Presenter"
          },
          {
            "communicationIdentifier": {
              "communicationUser": {
                "id": "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000012-4c95-979f-83fe-084822002d9a"
              }
            },
            "role": "Attendee"
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07, 2022-02-01",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "99463881237652089",
        "MS-CV": "uRNuf9/7E02oAaybJ1a0BA.0",
        "Repeatability-Result": "accepted"
      },
      "ResponseBody": {
        "id": "99463881237652089",
        "createdDateTime": "2022-06-28T23:44:43.5684103\u002B00:00",
        "validFrom": "2022-12-01T00:00:00\u002B00:00",
        "validUntil": "2022-12-02T00:00:00\u002B00:00",
        "roomJoinPolicy": "InviteOnly",
        "participants": [
          {
            "communicationIdentifier": {
              "rawId": "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000012-4c95-9768-83fe-084822002d99",
              "communicationUser": {
                "id": "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000012-4c95-9768-83fe-084822002d99"
              }
            },
            "role": "Presenter"
          },
          {
            "communicationIdentifier": {
              "rawId": "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000012-4c95-979f-83fe-084822002d9a",
              "communicationUser": {
                "id": "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000012-4c95-979f-83fe-084822002d9a"
              }
            },
            "role": "Attendee"
          }
        ]
      }
    },
    {
      "RequestUri": "https://rooms-ppe-us.ppe.communication.azure.net/rooms/99463881237652089?api-version=2022-02-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 28 Jun 2022 23:44:43 GMT"
      },
      "RequestBody": {
        "validFrom": "2022-12-01T00:00:00.0000000Z",
        "validUntil": "2022-12-02T00:00:00.0000000Z",[...]
[...]
    {
      "RequestUri": "https://rooms-ppe-us.ppe.communication.azure.net/rooms/99463881237652089?api-version=2022-02-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 28 Jun 2022 23:44:43 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07, 2022-02-01",
        "MS-CV": "WBTM6yD1ikyCPN56AMocrg.0"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://rooms-ppe-us.ppe.communication.azure.net/;accesskey=Kg==",
    "RandomSeed": "125867609"
  }
}
