{
  "Entries": [
    {
      "RequestUri": "https://rooms-ppe-us.ppe.communication.azure.net/identities?api-version=2021-03-07",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 28 Jun 2022 22:43:40 GMT"
      },
      "RequestBody": {},
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview, 2021-11-01, 2022-06-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "e7EQWIb5hUeIO7n3Zw84qQ.0",
        "X-Processing-Time": "30ms"
      },
      "ResponseBody": {
        "identity": {
          "id": "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000012-4c5d-b615-e1fe-084822002b15"
        }
      }
    },
[...]
    {
      "RequestUri": "https://rooms-ppe-us.ppe.communication.azure.net/rooms?api-version=2022-02-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "2022-06-28T22:43:40.7798649Z",
        "Repeatability-Request-ID": "1d80e0b8-0788-43fe-a1cf-07a670eefbda",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 28 Jun 2022 22:43:40 GMT"
      },
      "RequestBody": {
        "validFrom": "2022-12-01T00:00:00.0000000Z",
        "validUntil": "2022-12-02T00:00:00.0000000Z",
        "roomJoinPolicy": "InviteOnly",
        "participants": [
          {
            "communicationIdentifier": {
              "communicationUser": {
                "id": "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000012-4c5d-b615-e1fe-084822002b15"
              }
            },
            "role": "Presenter"
          },
          {
            "communicationIdentifier": {
              "communicationUser": {
                "id": "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000012-4c5d-b650-e1fe-084822002b16"
              }
            },
            "role": "Attendee"
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07, 2022-02-01",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "99485866604569764",
        "MS-CV": "B2eJIbIUdkijlqcAUOOjVg.0",
        "Repeatability-Result": "accepted"
      },
      "ResponseBody": {
        "id": "99485866604569764",
        "createdDateTime": "2022-06-28T22:43:41.6623708\u002B00:00",
        "validFrom": "2022-12-01T00:00:00\u002B00:00",
        "validUntil": "2022-12-02T00:00:00\u002B00:00",
        "roomJoinPolicy": "InviteOnly",
        "participants": [
          {
            "communicationIdentifier": {
              "rawId": "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000012-4c5d-b615-e1fe-084822002b15",
              "communicationUser": {
                "id": "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000012-4c5d-b615-e1fe-084822002b15"
              }
            },
            "role": "Presenter"
          },
          {
            "communicationIdentifier": {
              "rawId": "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000012-4c5d-b650-e1fe-084822002b16",
              "communicationUser": {
                "id": "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000012-4c5d-b650-e1fe-084822002b16"
              }
            },
            "role": "Attendee"
          }
        ]
      }
    },
    {
      "RequestUri": "https://rooms-ppe-us.ppe.communication.azure.net/rooms/99485866604569764/participants:add?api-version=2022-02-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 28 Jun 2022 22:43:41 GMT"
      },
      "RequestBody": {
        "participants": [
          {
            "communicationIdentifier": {
           [...]
