{
  "Entries": [
    {
      "RequestUri": "https://rooms-ppe-us.ppe.communication.azure.net/identities?api-version=2021-03-07",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 13 Jun 2022 15:28:49 GMT"
      },
      "RequestBody": {},
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview, 2021-11-01, 2022-06-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "\u002BkXQ4Oo27E\u002BHPt\u002BVYgWRPw.0",
        "X-Processing-Time": "25ms"
      },
      "ResponseBody": {
        "identity": {
          "id": "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000011-fd90-3202-07fd-084822006562"
        }
      }
    },
[...]
    {
      "RequestUri": "https://rooms-ppe-us.ppe.communication.azure.net/rooms?api-version=2022-02-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "2022-06-13T15:28:50.1788575Z",
        "Repeatability-Request-ID": "9d0bfec2-8be6-40bb-be54-dda2f13ddf1d",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 13 Jun 2022 15:28:50 GMT"
      },
      "RequestBody": {
        "validFrom": "2022-06-13T15:28:50.1786309Z",
        "validUntil": "2022-06-14T15:28:50.1786309Z",
        "roomOpen": false,
        "participants": [
          {
            "communicationIdentifier": {
              "communicationUser": {
                "id": "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000011-fd90-3202-07fd-084822006562"
              }
            },
            "role": "Presenter"
          },
          {
            "communicationIdentifier": {
              "communicationUser": {
                "id": "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000011-fd90-3347-07fd-084822006563"
              }
            },
            "role": "Attendee"
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07, 2022-02-01",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "99445799002909003",
        "MS-CV": "4BQrfvRb4EWZO\u002BeG6bRUTA.0",
        "Repeatability-Result": "accepted"
      },
      "ResponseBody": {
        "id": "99445799002909003",
        "createdDateTime": "2022-06-13T15:28:50.6621152\u002B00:00",
        "validFrom": "2022-06-13T15:28:50.1786309\u002B00:00",
        "validUntil": "2022-06-14T15:28:50.1786309\u002B00:00",
        "participants": [
          {
            "communicationIdentifier": {
              "rawId": "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000011-fd90-3202-07fd-084822006562",
              "communicationUser": {
                "id": "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000011-fd90-3202-07fd-084822006562"
              }
            },
            "role": "Presenter"
          },
          {
            "communicationIdentifier": {
              "rawId": "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000011-fd90-3347-07fd-084822006563",
              "communicationUser": {
                "id": "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000011-fd90-3347-07fd-084822006563"
              }
            },
            "role": "Attendee"
          }
        ]
      }
    },
    {
      "RequestUri": "https://rooms-ppe-us.ppe.communication.azure.net/rooms/99445799002909003/participants:add?api-version=2022-02-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 13 Jun 2022 15:28:50 GMT"
      },
      "RequestBody": {
        "participants": [
          {
            "communicationIdentifier": {
           [...]
