{
  "Entries": [
    {
      "RequestUri": "https://rooms-ppe-us.ppe.communication.azure.net/identities?api-version=2021-03-07",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 28 Jun 2022 00:01:48 GMT"
      },
      "RequestBody": {},
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview, 2021-11-01, 2022-06-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "zAgKup8e60yj4EtMf6yLtA.0",
        "X-Processing-Time": "46ms"
      },
      "ResponseBody": {
        "identity": {
          "id": "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000012-477e-e008-e1fe-08482200348f"
        }
      }
    },
[...]
    {
      "RequestUri": "https://rooms-ppe-us.ppe.communication.azure.net/rooms?api-version=2022-02-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "2022-06-28T00:01:48.3117895Z",
        "Repeatability-Request-ID": "648eb9a5-ed96-42b0-a249-bcf514392eb2",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 28 Jun 2022 00:01:48 GMT"
      },
      "RequestBody": {
        "validFrom": "2022-12-01T00:00:00.0000000Z",
        "validUntil": "2022-12-02T00:00:00.0000000Z",
        "roomOpen": false
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07, 2022-02-01",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "99442844570548665",
        "MS-CV": "J06SY4pmx0a9b6mRfCoRqQ.0",
        "Repeatability-Result": "accepted"
      },
      "ResponseBody": {
        "id": "99442844570548665",
        "createdDateTime": "2022-06-28T00:01:48.753517\u002B00:00",
        "validFrom": "2022-12-01T00:00:00\u002B00:00",
        "validUntil": "2022-12-02T00:00:00\u002B00:00",
        "roomJoinPolicy": "InviteOnly",
        "participants": []
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://rooms-ppe-us.ppe.communication.azure.net/;accesskey=Kg==",
    "RandomSeed": "1696472565"
  }
}
