{
  "Entries": [
    {
      "RequestUri": "https://rooms-ppe-us.ppe.communication.azure.net/identities?api-version=2021-03-07",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 03 Jun 2022 10:34:52 GMT"
      },
      "RequestBody": {},
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview, 2021-11-01, 2022-06-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "4LRoFks2kkeS73/zRU\u002B1ZA.0",
        "X-Processing-Time": "27ms"
      },
      "ResponseBody": {
        "identity": {
          "id": "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000011-c903-7d6a-07fd-084822007d0f"
        }
      }
    },
[...]
    {
      "RequestUri": "https://rooms-ppe-us.ppe.communication.azure.net/rooms?api-version=2022-02-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "2022-06-03T10:34:53.0367376Z",
        "Repeatability-Request-ID": "eb1cbc0a-e1e1-41b4-bd06-17781053d84b",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 03 Jun 2022 10:34:53 GMT"
      },
      "RequestBody": {
        "validFrom": "2022-06-03T10:34:53.0364526Z",
        "validUntil": "2022-06-04T10:34:53.0364526Z"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07, 2022-02-01",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "99480123803736689",
        "MS-CV": "ICH0uDcqoUODjh9dpPudXw.0",
        "Repeatability-Result": "accepted"
      },
      "ResponseBody": {
        "id": "99480123803736689",
        "createdDateTime": "2022-06-03T10:34:54.4310221\u002B00:00",
        "validFrom": "2022-06-03T10:34:53.0364526\u002B00:00",
        "validUntil": "2022-06-04T10:34:53.0364526\u002B00:00",
        "participants": []
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://rooms-ppe-us.ppe.communication.azure.net/;accesskey=Kg==",
    "RandomSeed": "517971148"
  }
}
