{
  "Entries": [
    {
      "RequestUri": "https://rooms-ppe-us.ppe.communication.azure.net/identities?api-version=2021-03-07",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 13 Jun 2022 15:28:43 GMT"
      },
      "RequestBody": {},
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview, 2021-11-01, 2022-06-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "DbwPuWpRVUWM1CUcNKVTPA.0",
        "X-Processing-Time": "42ms"
      },
      "ResponseBody": {
        "identity": {
          "id": "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000011-fd90-1cf2-07fd-08482200655a"
        }
      }
    },
[...]
    {
      "RequestUri": "https://rooms-ppe-us.ppe.communication.azure.net/rooms?api-version=2022-02-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "2022-06-13T15:28:44.4865004Z",
        "Repeatability-Request-ID": "df9f687c-bd1c-4c88-87a4-30cf9969c4d4",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 13 Jun 2022 15:28:44 GMT"
      },
      "RequestBody": {
        "validFrom": "2022-06-13T15:28:44.4859487Z",
        "validUntil": "2022-06-14T15:28:44.4859487Z",
        "roomOpen": false
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07, 2022-02-01",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "99438911916280127",
        "MS-CV": "a2HCZ\u002B4NCUGxSs5FM2hWeQ.0",
        "Repeatability-Result": "accepted"
      },
      "ResponseBody": {
        "id": "99438911916280127",
        "createdDateTime": "2022-06-13T15:28:44.9588916\u002B00:00",
        "validFrom": "2022-06-13T15:28:44.4859487\u002B00:00",
        "validUntil": "2022-06-14T15:28:44.4859487\u002B00:00",
        "participants": []
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://rooms-ppe-us.ppe.communication.azure.net/;accesskey=Kg==",
    "RandomSeed": "329344474"
  }
}
