{
  "Entries": [
    {
      "RequestUri": "https://rooms-ppe-us.ppe.communication.azure.net/identities?api-version=2021-03-07",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Sun, 17 Jul 2022 23:54:40 GMT"
      },
      "RequestBody": {},
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview, 2021-11-01, 2022-06-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "nyum8f5VWUWd0pCPh\u002BLmYA.0",
        "X-Processing-Time": "30ms"
      },
      "ResponseBody": {
        "identity": {
          "id": "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000012-ae77-83f1-84f5-08482200abe0"
        }
      }
    },
[...]
    {
      "RequestUri": "https://rooms-ppe-us.ppe.communication.azure.net/rooms?api-version=2022-02-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "2022-07-17T23:54:40.5957730Z",
        "Repeatability-Request-ID": "43616b56-64c9-4393-afda-3171abb19ea9",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Sun, 17 Jul 2022 23:54:40 GMT"
      },
      "RequestBody": {
        "validFrom": "Sanitized",
        "validUntil": "Sanitized",
        "roomJoinPolicy": "InviteOnly",
        "participants": [
          {
            "communicationIdentifier": {
              "communicationUser": {
                "id": "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000012-ae77-83f1-84f5-08482200abe0"
              }
            },
            "role": "Presenter"
          },
          {
            "communicationIdentifier": {
              "communicationUser": {
                "id": "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000012-ae77-8424-84f5-08482200abe1"
              }
            },
            "role": "Attendee"
          },
          {
            "communicationIdentifier": {
              "communicationUser": {
                "id": "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000012-ae77-846c-84f5-08482200abe2"
              }
            },
            "role": "Attendee"
          },
          {
            "communicationIdentifier": {
              "communicationUser": {
                "id": "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000012-ae77-84a4-84f5-08482200abe3"
              }
            },
            "role": "Attendee"
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07, 2022-02-01",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "99468487741347163",
        "MS-CV": "fEHDX9J85kSWJRfE4GN/pw.0",
        "Repeatability-Result": "accepted"
      },
      "ResponseBody": {
        "id": "99468487741347163",
        "createdDateTime": "2022-07-17T23:54:39.8326616\u002B00:00",
        "validFrom": "2022-07-17T23:54:40.5955196\u002B00:00",
        "validUntil": "2022-07-18T23:54:40.5955196\u002B00:00",
        "roomJoinPolicy": "InviteOnly",
        "participants": [
          {
            "communicationIdentifier": {
              "rawId": "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000012-ae77-83f1-84f5-08482200abe0",
              "communicationUser": {
                "id": "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000012-ae77-83f1-84f5-08482200abe0"
              }
            },
            "role": "Presenter"
          },
          {
            "communicationIdentifier": {
              "rawId": "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000012-ae77-8424-84f5-08482200abe1",
              "communicationUser": {
                "id": "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000012-ae77-8424-84f5-08482200abe1"
              }
            },
            "role": "Attendee"
          },
          {
            "communicationIdentifier": {
              "rawId": "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000012-ae77-846c-84f5-08482200abe2",
              "communicationUser": {
                "id": "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000012-ae77-846c-84f5-08482200abe2"
              }
            },
            "role": "Attendee"
          },
          {
            "communicationIdentifier": {
              "rawId": "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000012-ae77-84a4-84f5-08482200abe3",
              "communicationUser": {
                "id": "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000012-ae77-84a4-84f5-08482200abe3"
              }
            },
            "role": "Attendee"
          }
        ]
      }
    },
    {
      "RequestUri": "https://rooms-ppe-us.ppe.communication.azure.net/rooms/99468487741347163/participants:update?api-version=2022-02-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Sun, 17 Jul 2022 23:54:40 GMT"
      },
      "RequestBody": {
        "participants": [
          {
            "communicationIdentifier": {
        [...]
